.header {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}

.headerlogo {
    width: 100px;
    object-fit: contain;
    margin: 20px;
    margin-top: 0 18px;
}

.headersearch {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.headersearchinput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.headersearchicon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}

.headeroption {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.headeroptionone {
    font-size: 10px;
}

.headeroptiontwo {
    font-size: 13px;
    font-weight: 800;
}

.headeroptionbasket {
    display: flex;
    align-items: center;
    color: white;
}

.headerbasketcount {
    margin-left: 10px;
    margin-right: 10px;
}

.headernav {
    display: flex;
    justify-content: space-evenly;
}

.headeroption {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}